*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    color: black;
}

.dog-button{
    border: none;
    border-radius: 9999px;
    padding: 4px 4px;
    margin-top: 8px;
}

.dog-input{
    font-size: 20;
    padding: 4px 4px;
}
#dog-section{
    
}